body {
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 33px;
    font-size: 13px;
    color: #333;
    line-height: 18px;
}

#notice {
    color: green;
}

p ,ul{
  margin: 33px;
}

a:link {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

h1 {
  margin: 0.67em 0;
}


h2 {
  margin: 0.83em 0;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    padding-bottom: 5px;
}

.field {
  margin-bottom: 10px;
}

text_field {
  padding: 1px 2px;
}

text_area {
  padding: 2px;
}

.actions {
  margin-bottom: 10px;
}

.input {
  padding: 1px 6px;
  border-width: 2px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding-bottom: 0;
}

#error_explanation h2 {
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  margin-bottom: 0;
}


#error_explanation li {
  font-size: 12px;
}

.field_with_errors #tx{
  padding: 2px;
  background-color: red;
}